fastapi
uvicorn[standard]
alembic
passlib[bcrypt]
python-multipart
pydantic
python-dotenv
python-jose[cryptography]
psycopg2-binary
slowapi
pyjwt
bcrypt==4.0.1
email-validator
sqlmodel
sqlalchemy
asyncpg
httpx
openai
pytest
pytest-asyncio
pydantic-settings
pytz
loguru
coverage
pytest-cov
aiosqlite
redis[hiredis]
google-generativeai
user-agents
google-auth
